@model List<CRM.EntityLayer.Concrete.Customer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CRMLayout.cshtml";
    int count = 0;
}

<h1>Müşteri Bilgileri</h1>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>İsim</th>
        <th>Soyad</th>
        <th>Telefon</th>
        <th>E-mail</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.Phone</td>
            <td>@item.Email</td>
            <td><a href="#" class="btn btn-warning">Durum</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
